*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content{
    width: 35%;
    justify-content: center;
}

.contentbox{
    width: 65%;
    background-image: url(images/login_promo_desktop_v20240306.svg);
}

.contentbox h1{
    font-size: 32px;
    font-weight: 700;
    color: #0C2657;
    padding: 30px 500px 20px 100px;
}

.contentbox p{
    padding: 0px 250px;
    position: relative;
    right: 150px;
    color: #0C2657;
    font-size: 16px;
    font-weight: 400;
}

.flexbox{
    display: flex;
}

.login{
    color: #00684A;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}

.dont{
    font-size: 18px;
    font-weight: 700;
}

.dont a{
    color: #016BF8;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

.bttn1{
    width: 260px;
    height: 50px;
    border: none;
    background: #fff;
    border: 1px solid grey;
    border-radius: 5px;
}

.bttn1 span{
    color: #5C6C75;
    font-size: 16px;
    font-weight: 500;
}

.orwith{
    color:#5C6C75;
    font-size: 13px;
    font-weight: 400;
}

label{
    color:#5C6C75;
    font-size: 13px;
    font-weight: 700;
}

input{
    width: 260px;
    height: 40px;
    border: none;
    border: 1px solid grey;
    border-radius: 5px;
}

.bttn2{
    color: grey;
    width: 80px;
    height: 30px;
    font-weight: 500;
    border: none;
    background: #e8edeb;
    border: 1px solid grey;
    border-radius: 5px;

}


@media screen and (max-width:480px) {
    .contentbox{
        display: none;
    }

    .content{
        width: 100%;
    }
}